<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit(ChangePasswordForm)">
    <div class="row">
        <h4 style="margin-bottom: 15px;">Change Password</h4>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="CurrentPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="hideCurrent = !hideCurrent" [attr.aria-label]="'Hide password'" [attr.aria-checked]="hideCurrent">
                        <i class="material-symbols-outlined">{{hideCurrent ? 'visibility_off' : 'visibility'}}</i>
                    </button>
                    @if (isFieldValid(ChangePasswordForm, 'CurrentPassword', 'required')) {
                        <mat-error>Current password is required</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'CurrentPassword', 'incorrect')) {
                        <mat-error>Current password is incorrect</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'CurrentPassword', 'server')) {
                        <mat-error>{{ ChangePasswordForm.get('CurrentPassword')?.getError('server') }}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="NewPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-checked]="hideNew">
                        <i class="material-symbols-outlined">{{hideNew ? 'visibility_off' : 'visibility'}}</i>
                    </button>
                    @if (isFieldValid(ChangePasswordForm, 'NewPassword', 'required')) {
                        <mat-error>New password is required</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'NewPassword', 'minlength')) {
                        <mat-error>Minimum 8 characters required</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'NewPassword', 'weakPassword')) {
                        <mat-error>Use upper &amp; lower case letters, a number and a special character</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'NewPassword', 'sameAsCurrent')) {
                        <mat-error>New password must be different from current password</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'NewPassword', 'server')) {
                        <mat-error>{{ ChangePasswordForm.get('NewPassword')?.getError('server') }}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="ConfirmPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-checked]="hideConfirm">
                        <i class="material-symbols-outlined">{{hideConfirm ? 'visibility_off' : 'visibility'}}</i>
                    </button>
                    @if (isFieldValid(ChangePasswordForm, 'ConfirmPassword', 'required')) {
                        <mat-error>Please confirm your new password</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'ConfirmPassword', 'passwordMismatch')) {
                        <mat-error>Passwords do not match</mat-error>
                    }
                    @if (isFieldValid(ChangePasswordForm, 'ConfirmPassword', 'server')) {
                        <mat-error>{{ ChangePasswordForm.get('ConfirmPassword')?.getError('server') }}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="buttonsset">
                <button type="button" class="btn mt-1 cacelbutton" style="width: 100px" (click)="onCancel()">
                    Cancel
                </button>
                <button type="submit" class="btn mt-1 submitbutton" style="width: 150px" [disabled]="isLoading">
                    {{ isLoading ? 'Saving...' : 'Save Changes' }}
                </button>
            </div>
        </div>
    </div>
</form>
