<form [formGroup]="UsersForm">
    <div class="row">
        <h4 style="margin-bottom: 15px;">Profile</h4>
        <mat-form-field [hidden]="true">
            <input matInput placeholder="" formControlName="id" type="text" />
        </mat-form-field>

        <div class="col-12 mt-4">

            <div class="form-group">

                <!-- <h6>Profile</h6> -->

                <div class="mt-2 d-flex justify-content-center">

                    <div class="profile-image-wrapper" (click)="fileInput.click()">
                        <img [src]="imagePreview || UsersForm.get('image')?.value" alt="Profile Image" class="profile-image" />
                        <span class="profile-image-edit">
                            <mat-icon>photo_camera</mat-icon>
                        </span>
                    </div>

                    <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelect($event)" />
                </div>

            </div>

        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="" formControlName="name" type="text" />
                    @if (isFieldValid(UsersForm, 'name', 'required')) {
                        <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" formControlName="email" type="text" readonly />
                    @if (isFieldValid(UsersForm, 'email', 'required')) {
                        <mat-error>Email is required</mat-error>
                    }
                    @if (isFieldValid(UsersForm, 'email', 'email')) {
                        <mat-error>Please enter a valid email address</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label> Mobile</mat-label>
                    <input matInput placeholder="" maxlength="10" (keypress)="numericOnly($event)"
                        formControlName="mobilenumber" type="text" readonly />
                    @if (isFieldValid(UsersForm, 'mobilenumber', 'required')) {
                        <mat-error>Mobile number is required</mat-error>
                    }
                    @if (isFieldValid(UsersForm, 'mobilenumber', 'maxlength')) {
                        <mat-error>Maximum 10 digits allowed</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="form-group">
                <mat-form-field [appearance]="formFieldAppearance" class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" type="text" />
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="buttonsset">
                <button type="button" class="btn mt-1 cacelbutton" style="width: 100px" (click)="closeUsersForm()">
                    Cancel
                </button>
                @if (formMode !== "view") {
                <button type="button" class="btn mt-1 submitbutton" style="width: 100px" (click)="SubmitUsersForm()">
                    Update
                </button>
                }
            </div>
        </div>
    </div>
</form>